
    .sub-button{background-color: rgb(206, 1, 1) ;
    color :white;
    border : none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:2px;
    cursor:pointer;
    margin-right :5px;
    transition:opacity 0.15s;
    vertical-align: top;
    }
    .sub-button:hover{
       opacity: 0.8;
    }
    .sub-button:active{
        opacity:0.5;
    }
    
    .join-button {background-color: white;
        color:dodgerblue;
        height:36px;
        width:50px;
        border-color:dodgerblue;
        border-style: solid;
        border-radius:2px;
        font-weight: bold;
        cursor:pointer;
        margin-right:5px;
        transition: background-color 1s,color 1s;

    }
    .join-button:hover{
        background-color: dodgerblue;
        color:white;
    }
    .join-button:active{
        opacity: 0.5;
    }
    .tweet-button{
        background-color: dodgerblue;
        color:white;
        height:36px;
        border: none;
        border-radius:20px;
        width:70px;
        transition: opacity 0.15s;
    }
    .tweet-button:hover{
        opacity:0.8;
        
    }
    .tweet-button:active{
        opacity:0.5;
    }
